.cards-movies {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards-movies__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  column-gap: 20px;
  justify-items: center;
  row-gap: 38px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards-movies__more {
  margin: 50px auto 80px;
  padding: 0;
  width: 320px;
  height: 36px;
  background-color: #2f2f2f;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  display: none;
}
.cards-movies__more_activ {
  display: block;
}

.cards-movies__more:hover {
  opacity: 0.8;
}
.cards-movies__text {
  margin: 0 auto;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.cards-movies__no-card {
  margin: auto;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .cards-movies__container {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 500px) {
  .cards-movies {
    margin-top: 50px;
  }
  .cards-movies__more {
    width: 240px;
  }
  .cards-movies__container {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }
}
