.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 24px;
}

.form__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  position: relative;
}

.form__input {
  margin-top: 5px;
  padding: 0 0 10px;
  height: 17px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid #424242;
}
.form__input:focus {
  outline: none;
  border: 1px solid #424242;
}

.form__btn-contayner {
  margin-top: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.form__button {
  width: 100%;
  padding: 13px 0 15px;
  border: none;
  border-radius: 3px;
  background-color: #4285f4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  position: relative;
}
.form__button:hover {
  opacity: 0.8;
}

.form__button_disabled{
  opacity: .3;
}

.form__error-message {
  position: absolute;
  bottom: -16px;
  left: 0;
  color: #ff004c;
  font-size: 10px;
  font-weight: 400;
}
.form__input_error {
  color: #ff004c;
  border: 1px solid #ff004c;
}
.form__info_err-message {
  position: absolute;
  top: -31px;
  color: #ff004c;
  font-size: 11px;
  font-weight: 400;
}
.form__error-message_profil{
  bottom: 0;
}

@media screen and (max-width: 510px) {
  .form {
    margin-top: 80px;
  }
  .form__btn-contayner {
    margin-top: 157px;
  }
}
