.accessForm {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 70px;
  width: 396px;
}

.accessForm__name {
  margin: 40px 0 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.accessForm__signin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
}

.accessForm__text-link {
  margin: 0;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.accessForm__link {
  margin: 0 0 0 6px;
  text-decoration: none;
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.accessForm__link:hover {
  opacity: .7;
}

@media screen and (max-width: 800px) {
  .accessForm {
    margin-top: 232px;
  }
  
}

@media screen and (max-width: 510px) {
  .accessForm {
    align-items: center;
    margin-top: 56px;
    width: 260px;
  }
  .accessForm__name {
    margin: 50px 0 0;
  }

  .accessForm__text-link {
    font-size: 12px;
  }
  
  .accessForm__link {
    font-size: 12px;
   
  }
  
}